.container {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: calc(100vh - 200px); */
}
.wraper {
  width: 500px;
  /* flex: 1; */
  padding: 50px;
  border-radius: 5px;
  background-color: var(--bgSoft);
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form input {
  padding: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--bg);
  color: var(--text);
}
.form button {
  padding: 20px;
  background-color: var(--btn);
  color: var(--text);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
