.container {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}
.txtContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title {
  color: gray;
  font-weight: bold;
}
.username {
  font-weight: 500;
}
.avatar {
  border-radius: 50%;
}
